<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student performance</title>
    <link rel="stylesheet" href="../static/css/style1.css" />
    <!-- <link href="./script.js"> -->
  </head>
  <body>
    <div class="centered-heading">
      <h1>Welcome to the Home</h1>
      <button id="main_btn">Predict Performance</button>
    </div>

    <script>
        // Get the button element by its id
        var redirectButton = document.getElementById('main_btn');

        // Add a click event listener to the button
        redirectButton.addEventListener('click', function() {
            // Redirect to the desired page
            window.location.href = 'http://127.0.0.1:5000/predictdata'; // Replace with your desired URL
        });
    </script>

  </body>
</html>
